/assets/
/CommonProperties.php
/protected/runtime/application.log
/nbproject/private/
/vendor/
/wikis/
/composer.lock
/composer.json
/protected/commands/docs/
/devTools/
/scripts/test.sh
/protected/runtime/